Edge case with AES-GCM can lead to crypto failure

Hello, I checked with Mozilla's Security Team and they do not consider this a security issue due to it not being likely to hit. With that said:

I believe that there is a potential for nonce reuse in AES-GCM, which is a catastrophic issue. The problem arises in the following code path:

- https://github.com/mozilla-services/pkcs7/blob/33d05740a3526e382af6395d3513e73d4e66d1cb/encrypt.go#L332 allows one to specify a pre-shared-key for use in encrypting/decrypting PKCS#7 data blobs.
- If you follow the code to encryptAESGCM() it would then use the existing key (https://github.com/mozilla-services/pkcs7/blob/33d05740a3526e382af6395d3513e73d4e66d1cb/encrypt.go#L93) and generate a random nonce, 12 bytes in length.

Now the problem is that while 12 bytes is pretty big, there's no way to check that a nonce is not re-used over time. Consider someone who is using EncryptUsingPSK over and over with the same key. There is no checking of prior state, incrementing a counter over the nonce, erroring out on overflow, etc. Now you still end up with something like 2 ** (12 * 8 / 2) = 281 trillion and some change, but it relies on the RNG for the nonce working properly. I'm used to seeing GCM being used in streaming data where checking for nonce rollover/reuse is a standard practice.

I would have expected the safer thing to do would be:
- Generate a random key and nonce, as in Encrypt().
- Encrypt that (key, nonce) using something like AES-CTR with the PSK as the encryption key.

When I discussed this with Mozilla I was told:

It's allowed. Section 13 of RFC 2315: "The encrypted-data content type
consists of encrypted content of any type. [...] Keys are assumed to
be managed by other means." There's no mechanism inside of PKCS#7 to
enforce key re-use limits for this content type. It's a sharp edge,
but it's reasonable for the library to expose this functionality. I
doubt we use it ourselves.

Additionally, a 12-byte nonce is fine per NIST SP 800-38D, and in fact it's the
recommended length for interop reasons. The standard imposes a 2^32
invocation per key limit for all IV lengths.