Usage of PKCS7.Verify methods when no certificates are included in PKCS7 structure

Hello,

I am attempting to verify the signature of an [AWS EC2 identify document](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-identity-documents.html) as a signed PKCS#7 structure. The structure does not include any certificates, and as a result the `PKCS7.VerifyWithChain` and `PKCS7.Verify` methods fail with the error: `pkcs7: No certificate for signer`. The library returns this error when it fails to find a certificate with a serial number matching one of the signing certificates:

```go
// verify.go, line 35.
func verifySignature(p7 *PKCS7, signer signerInfo, truststore *x509.CertPool) (err error) {
	signedData := p7.Content
	ee := getCertFromCertsByIssuerAndSerial(p7.Certificates, signer.IssuerAndSerialNumber)
	if ee == nil {
		return errors.New("pkcs7: No certificate for signer")
	}
	// snip.
```

Looking at [section 9 of RFC 2315](https://tools.ietf.org/html/rfc2315#section-9), it appears that including any certificates in the PKCS#7 structure is optional:

```
A recipient verifies the signatures by decrypting the encrypted
message digest for each signer with the signer's public key, then
comparing the recovered message digest to an independently computed
message digest. The signer's public key is either contained in a
certificate included in the signer information, or is referenced by
an issuer distinguished name and an issuer-specific serial number
that uniquely identify the certificate for the public key.
```

I expected that I could provide the signer certificates via the `x509.CertPool` argument for `PKCS7.VerifyWithChain`. However, I realized that was used for path validation. I guess it just feels odd that I need to modify the parsed data structure prior to verifying its signature. This means callers need to be careful to modify the structure before calling those methods.

In this case, I can populate the `PKCS7.Certificates` field after parsing the PKCS#7. I can set it equal to a slice containing the certificate(s) I expect the PKCS#7's content to be signed with.

There does not appear to be any documentation about this use case... Is that how it should be used?

Thank you.